body {
  display: block;
}

td {
  width: 32px;
  height: 32px;
  border: 1px solid gray;
}

.DPS {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: blue;
}

.TANK {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(0, 217, 255);
}

.HEAL {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: green;
}
